<header class="flex-h">

  <!-- Accueil -->
  <div id="home">
    <a href="/">
      <img alt="Alumni's Cup Home"
          src="/assets/logos/alumniscup.png">
    </a>
  </div> 

  <span class="grow"></span>  

  <!-- Barre de nav -->
  <div id="navbar" class="flex-v">

    <input name="show-menu" id="show-menu" type="checkbox">
    <label for="show-menu"> Menu </label> 

    <nav id="menu"> 
      {% for item in site.data.nav %} 
      <a href="{{item.url}}">{{item.name}}</a> 
      {% endfor %}
    </nav> 

  </div> 

</header> 
