<div class="flex-v center">
<iframe width="520" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.06669044494628908%2C49.47677044654968%2C0.1250553131103516%2C49.50643058403142&amp;layer=hot&amp;marker=49.49160276178786%2C0.09587287902832031" style="border: 1px solid black"></iframe><br/>
<small><a class="osm" href="https://www.openstreetmap.org/?mlat=49.4916&amp;mlon=0.0959#map=14/49.4916/0.0959&amp;layers=H">
    agrandir la carte</a></small>
</div>

<style> 
  iframe {
    max-width: 100%;
  }
  a.osm {
    text-decoration: none;
    color: #b33;
  }
</style> 
