Les tarifs {{site.year}} sont récapitulés ici :

<table>
  <tr>
    <th> Format </th>
    <th> Total TTC </th>
  </tr>
  <tr>
    <td> Coupe - tarif early bird (5 premiers bateaux inscrits) </td>
    <td> 1200€ </td>
  </tr>
  <tr>
    <td> Coupe - tarif standard </td>
    <td> 1300€ </td>
  </tr>
  <tr>
    <td> Tour </td>
    <td> 750€ </td>
  </tr>
</table>

*Sans location de bateau à la SRH :*


<table>
  <tr>
    <th> Format </th>
    <th> Total TTC </th>
  </tr>
  <tr>
    <td> Coupe </td>
    <td> 400€ </td>
  </tr>
  <tr>
    <td> Tour </td>
    <td> 225€ </td>
  </tr>
</table>