Les tarifs {{site.year}} sont récapitulés ici: 

<table> 
  <tr> 
    <th> Format </th> 
    <th> Total TTC </th> 
    <th> Pour 5 équipiers </th> 
  </tr> 
  <tr> 
    <td> Coupe </td>
    <td> 1250€ </td> 
    <td> 125€/p/tour </td>
  </tr>
  <tr> 
    <td> Tour </td> 
    <td> 650€ </td>
    <td> 130€/p/tour </td> 
  </tr> 
</table> 

*Sans location de bateau à la SRH:*


<table> 
  <tr> 
    <th> Format </th> 
    <th> Total TTC </th> 
    <th> Pour 5 équipiers </th> 
  </tr> 
  <tr> 
    <td> Coupe </td>
    <td> 400€ </td> 
    <td> 80€/p/tour </td>
  </tr>
  <tr> 
    <td> Tour </td> 
    <td> 225€ </td>
    <td> 50€/p/tour </td> 
  </tr> 
</table> 
