$phone:   "only screen and (max-width: 500px)";
$laptop:  "only screen and (min-width: 900px)";

/* couleurs */
$marine: #224478;
$ciel: #acf;
$rouge: #cb3e60;
$orange: #b83;

$color-menu: $marine; /* #dd8697;*/

