body, html {
    padding: 0;
    margin: 0;
}

*{
    font-family: 'avenir', sans-serif;
} 

nav a {
    text-decoration: none;
    color:  black;
}
nav span {
    padding: 10px 20px;
}

main {
    max-width: 500px;
}
