@import 'variables';

body, html {
    padding: 0;
    margin: 0;
}

*{
    font-family: 'avenir', sans-serif;
    font-weight: thin;
    color: $marine;
}

main {
    max-width: 600px;
}

@media #{$phone} {
    main {
        max-width: 90%;
    }
}
