.flex-h {
    display: flex;
    flex-flow: row;
}
.flex-v {
    display: flex;
    flex-flow: column;
}

.grow {
    flex-grow: 1;
}
.wrap {
    flex-wrap: wrap;
}
.stretch {
    align-items: stretch;
}
.flex-center {
    align-items: center;
}
.space {
    justify-content: space-around;
}


.tall {
    height: 100%;
}
.wide {
    width: 100%;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.hide{
    display: none;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


.footer {
  background: white;
}

main {
  text-align: left;
  background: white;
}

.aside-1 {
  background: grey;
}

.aside-2 {
  background: grey;
}

@media only screen and (min-width: 500px) {
  .aside { flex: 1 0 0; }
}

@media only screen and (min-width: 900px) {
   main    { flex: 3 0px; }
  .aside-1 { order: 1; }
   main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
