@import 'variables'

header 
  margin-right: 1em

/*--- Logo Accueil ---*/ 
#home 
  padding: 1.2em
  position: absolute
  top: 0em
  left: 0em

#home img 
  width: 7.5em

/*--- Bouton Menu ---*/
#show-menu
  visibility: hidden

#show-menu ~ label 
  padding: 2.5em
  border: 1px solid $ciel
  color: $ciel
  border-radius: 4px
  align-self: flex-end

/*--- Nav ---*/ 
#show-menu:checked ~ nav 
  display: block
  display: flex
  flex-flow: column 
  flex-wrap: none

#show-menu ~ nav
  display: none


nav a 
  color: $marine
  text-decoration: none
  text-align: right
  padding: 0.65em 3em
  border-bottom: 1px solid $ciel
  border-right: 1px solid $ciel
  border-radius: 4px
  

