---
---

<!doctype html>
<html>
  <head>
  {% include head.html %}
  </head>

  <body>
    {% include nav.html %}

    <div class="flex-h">
      <div class="grow"> </div>
      <main> {{content}} </main>
      <div class="grow"> </div>
    </div>

    <!-- Side navigation -->
    <div class="right-sidebar">
      <div class="sidenav">
        <h2 class="box-head"> Partenaires techniques</h2>
        <p>
          <a href="http://www.ffvoile.fr/ffv/web/portail/">
            <img class="logo" src="assets/logos/ffv.jpg" width="100">
          </a>
          <a href="http://www.lesregates.com/">
            <img class="logo" src="assets/logos/srh.jpg" width="100">
          </a>
          <a href="http://www.classej80france.com/">
            <img class="logo" src="assets/logos/j80.jpg" width="100">
          </a>
        <p>
      </div>
    </div>

  </body>
</html>
